{{#> layout }}
    {{#*inline "content"}}
        <h2>Актуальные курсы валют: </h2>
        {{#each currenciesListArray}}
             <div class="currency-item">
                 <div>Name: <strong>{{name}}</strong>. Value: <strong>{{value}}</strong></div>
                 </div>
             {{/each}}
    {{/inline}}

{{/layout }}









