.grid {
  border: 5px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid .row .cell {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.cell .button {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.cell .left-button {
  left: 0;
}

.cell .right-button {
  right: 0;
}

.cell .top-button {
  top: 0;
}

.cell .bottom-button {
  bottom: 0;
}

.top-left {
  left: -30px;
  top: -30px;
}

.bottom-right {
  right: -30px;
  bottom: -30px;
}

.coordinate-block {
  position: absolute;
  font-size: 1.5em;
  background-color: #cdcaca;
  border-radius: 10px;
  padding: 3px;
}

.labyrinth-configurator {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}